html,body{
    height: 100%;
    margin: auto;
    padding: auto;
}

#personalinfo{
    /* background-color: #330033;*/
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3E%3Cg mask='url(&quot;%23SvgjsMask1599&quot;)' fill='none'%3E%3Crect width='1920' height='1080' x='0' y='0' fill='url(%23SvgjsLinearGradient1600)'%3E%3C/rect%3E%3Cpath d='M33 1080L1113 0L1284 0L204 1080z' fill='url(%23SvgjsLinearGradient1601)'%3E%3C/path%3E%3Cpath d='M703.6 1080L1783.6 0L2077.6 0L997.6 1080z' fill='url(%23SvgjsLinearGradient1601)'%3E%3C/path%3E%3Cpath d='M1909 1080L829 0L730 0L1810 1080z' fill='url(%23SvgjsLinearGradient1602)'%3E%3C/path%3E%3Cpath d='M1230.4 1080L150.4000000000001 0L25.90000000000009 0L1105.9 1080z' fill='url(%23SvgjsLinearGradient1602)'%3E%3C/path%3E%3Cpath d='M960.5512355804497 1080L1920 120.55123558044966L1920 1080z' fill='url(%23SvgjsLinearGradient1601)'%3E%3C/path%3E%3Cpath d='M0 1080L959.4487644195503 1080L 0 120.55123558044966z' fill='url(%23SvgjsLinearGradient1602)'%3E%3C/path%3E%3C/g%3E%3Cdefs%3E%3Cmask id='SvgjsMask1599'%3E%3Crect width='1920' height='1080' fill='%23ffffff'%3E%3C/rect%3E%3C/mask%3E%3ClinearGradient x1='10.94%25' y1='119.44%25' x2='89.06%25' y2='-19.44%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1600'%3E%3Cstop stop-color='%230e2a47' offset='0'%3E%3C/stop%3E%3Cstop stop-color='rgba(0, 191, 209, 1)' offset='1'%3E%3C/stop%3E%3C/linearGradient%3E%3ClinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1601'%3E%3Cstop stop-color='rgba(165, 24, 143, 0.8)' offset='0'%3E%3C/stop%3E%3Cstop stop-opacity='0' stop-color='rgba(165, 24, 143, 0.8)' offset='0.66'%3E%3C/stop%3E%3C/linearGradient%3E%3ClinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1602'%3E%3Cstop stop-color='rgba(165, 24, 143, 0.8)' offset='0'%3E%3C/stop%3E%3Cstop stop-opacity='0' stop-color='rgba(165, 24, 143, 0.8)' offset='0.66'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
    padding-top: 4%;
    padding-bottom: 5%;
    margin: auto;
    padding: auto;
    height: 100%;
}

#profile-pic {
    width: 66%;
    margin:auto;
    border-radius: 15%;
    box-shadow: 0px 5px 20px 1px rgba(0,0,0,0.84);
}

#content-right{
    padding: 0 !important;
}

.person-card-photo{
    height: 30vh;
}

.jumbotron {
    margin: auto;
    padding: auto;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url("../images/wp_hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.75);
box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.75);
    height: 100vh;
}


#title-profile-pic{
    font-family: "Open Sans", "Raleway", "Arial";
    color: white;  
    font-size: 2.5rem;
    padding-top: 1rem;
}


.card{
    box-shadow: 2px 3px 1rem;
    height: auto;
    border-radius: 0.5rem;
}


@keyframes cardHoverUp{
    0% {}
    100%{transform: scale(1.05);}
}

@keyframes cardHoverDown{
    0% {}
    100%{transform: scale(1);}
}

.card:hover{
    animation: cardHoverUp 2s forwards;
    z-index: 5;
}



.card:hover > .card-body{
    
    /*background-color: rgba(173, 216, 230, 0.3);*/
    

    -moz-transition:    background 0.35s linear;
    -o-transition:      background 0.35s linear;
    -webkit-transition: background 0.35s linear;
    -ms-transition:     background 0.35s linear;
    transition:         background 0.35s linear;
}

.img-fluid.card-img-top{
    padding: 0.5rem;
}

.card-img-top{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}



.card-title, .card-text{
    text-align: center;
}

.icon{
  padding: 5px;
  font-size: 38px !important;
  color: white;
  width: 50px;
  text-align: center;
  text-decoration: none;

}.icon:hover{
    color: white;
    opacity: 0.4;
}

.footer-page{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3E%3Cg mask='url(&quot;%23SvgjsMask1599&quot;)' fill='none'%3E%3Crect width='1920' height='1080' x='0' y='0' fill='url(%23SvgjsLinearGradient1600)'%3E%3C/rect%3E%3Cpath d='M33 1080L1113 0L1284 0L204 1080z' fill='url(%23SvgjsLinearGradient1601)'%3E%3C/path%3E%3Cpath d='M703.6 1080L1783.6 0L2077.6 0L997.6 1080z' fill='url(%23SvgjsLinearGradient1601)'%3E%3C/path%3E%3Cpath d='M1909 1080L829 0L730 0L1810 1080z' fill='url(%23SvgjsLinearGradient1602)'%3E%3C/path%3E%3Cpath d='M1230.4 1080L150.4000000000001 0L25.90000000000009 0L1105.9 1080z' fill='url(%23SvgjsLinearGradient1602)'%3E%3C/path%3E%3Cpath d='M960.5512355804497 1080L1920 120.55123558044966L1920 1080z' fill='url(%23SvgjsLinearGradient1601)'%3E%3C/path%3E%3Cpath d='M0 1080L959.4487644195503 1080L 0 120.55123558044966z' fill='url(%23SvgjsLinearGradient1602)'%3E%3C/path%3E%3C/g%3E%3Cdefs%3E%3Cmask id='SvgjsMask1599'%3E%3Crect width='1920' height='1080' fill='%23ffffff'%3E%3C/rect%3E%3C/mask%3E%3ClinearGradient x1='10.94%25' y1='119.44%25' x2='89.06%25' y2='-19.44%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1600'%3E%3Cstop stop-color='%230e2a47' offset='0'%3E%3C/stop%3E%3Cstop stop-color='rgba(0, 191, 209, 1)' offset='1'%3E%3C/stop%3E%3C/linearGradient%3E%3ClinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1601'%3E%3Cstop stop-color='rgba(165, 24, 143, 0.8)' offset='0'%3E%3C/stop%3E%3Cstop stop-opacity='0' stop-color='rgba(165, 24, 143, 0.8)' offset='0.66'%3E%3C/stop%3E%3C/linearGradient%3E%3ClinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1602'%3E%3Cstop stop-color='rgba(165, 24, 143, 0.8)' offset='0'%3E%3C/stop%3E%3Cstop stop-opacity='0' stop-color='rgba(165, 24, 143, 0.8)' offset='0.66'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
    background-color: #330033;
    height: 15vh;
    position: relative;
    
}

#col-contact-form{
    margin: 0 auto; 
    width: 100%
}

#col-contact-form > form > input.btn {
    display:block;
    margin: 0 auto;
    width: 50%;
}

#aboutme{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#aboutmyskills{
    text-align: center;
}


@media (min-width: 576px) { 
    
    #personalinfo{
        height: 50vh;
    }
}
@media (min-width: 768px) { 

    
    #aboutmyskills{
        text-align: justify;
    }

    #aboutme{
        text-align: justify;
    }

    #personalinfo{
        height: 100vh;
    }

    #col-contact-form{
        margin: 0 auto; 
        width: 50%
    }

    
    #col-contact-form > form > input.btn {
        width: 100%;
        margin: 0 auto ;
    }

    
    #IconsSocialMedia{
        position: relative;
        top: 40vh;
    }

    .sidebar {
        position: fixed;
        top: 0px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        }
    #title-profile-pic{
    font-size: 1.6rem !important;
    }

    #profile-pic {
        width: 80%;
    }

}

@media (min-width: 992px) {
    #title-profile-pic{
        font-size: 2.5rem !important;
    }

    #profile-pic{
        display: table-cell;
        float: none;
    }

    
}

@media (min-width: 1200px) { 
  

}